h1 {padding: 10px;
	box-sizing: border-box;
	border: 5px solid brown;
	margin: 0.5px;
	font-size: 45px; color: rgb(51, 153, 144); font-weight: 
	bold; font-family: 'Courier New', Courier, monospace; text-align:center; }
.red { color: brown; font-family: 'Times New Roman', Times, serif;}
.bgstyl { background-color: rgb(252, 252, 86);}
.bold {font-weight: bold;}
p ul {color: red;}
a:link {text-decoration: none;
    background-color: aquamarine;
    border: 10px;color: solid brown;
    text-align: center;
    margin-bottom: 1px;
    display: block;}
a:hover {background-color: brown;
    color: chartreuse;}
#p {
	width: 50%;
	float: left;
	padding: 10px;}
div {
	clear: both;
}
* {box-sizing: border-box;}
img {
	padding: 0px;
	margin: 0px;
	width: 360px;
	height: 200px;
}
#bg {
	background-image: url("bg3.png");
	background-size: cover;
	}